<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Blog Uygulaması</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/jquery-3.6.0.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <script src="~/Scripts/stickyNavbar.js"></script>
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.2/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.2/css/v4-shims.css">
    <style>
        .ananavbar-dark {
            background-color: #001E6C !important;
        }

        #ananavbar {
            position: relative;
            z-index: 99 !important;
        }
        .sticky {
            position: fixed !important;
            top: 0;
            width: 100%;
            opacity:1;
        }
        .sticky + .content {
            padding-top: 60px;
        }
        .container{
           padding-top: 50px !important;
        }  
       
    </style>
</head>
<body>

    <nav id="ananavbar" class="navbar navbar-expand-lg ananavbar-dark margin-left: 90px margin-right: 90px">
        <div class="container-fluid">

            <a class="navbar-brand" href="/" style="color:white">Ana Sayfa</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/Blog/List" style="color:white">Bloglar</a>
                    </li>
                </ul>
            </div>


            <div class="giris bolumu justify-content-end">
                <!--
                    <table class="navbar-nav me-auto mb-2 mb-lg-0 gx-4 gy-4">
                    <tr>
                        {
                            var data = TempData["Username"];

                        }
                        if (data != null)
                        {
                            <td>
                                <a class="text-white">TempData["Username"] Hoş geldin</a>
                            </td>
                        }
                        else
                        {
                            <td>
                                <a class="text-white">Hoş geldin </a>
                            </td>
                        }


                        <td class="margintd">
                            <a href="/Admin/Index" class="ms-3">Giriş Yapın</a>
                        </td>

                    </tr>
                </table>
                            -->
                @Html.Partial("LoginPartial")

            </div>
        </div>
    </nav>


    <div class="container body-content">
        <div class="row">
            @if (IsSectionDefined("SagKolon"))
            {
                <div class="col-md-8">
                    @RenderBody()
                </div>
                <div class="col-md-4">
                    <div class="container-fluid bg-light">
                        @RenderSection("SagKolon")
                    </div>
                </div>
            }
            else
            {
                <div class="col-md-12">
                    @RenderBody()
                </div>
            }


        </div>



    </div>
    <script>
        window.onscroll = function () { myFunction() };

        var navbar = document.getElementById("ananavbar");
        var sticky = navbar.offsetTop;

        function myFunction() {
            if (window.pageYOffset >= sticky) {
                navbar.classList.add("sticky")
            } else {
                navbar.classList.remove("sticky");
            }
        }
    </script>

</body>
</html>